*{

margin:0;

padding:0;

}

 


body
{
    background-image: url(unicorn-aesthetic-wallpaper.jpg);
    background-repeat: repeat;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Piazzolla', serif;
}

main
{
    display: flex;
    align-self: center;
    font-family: 'Piazzolla', serif;
}

header 
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
	background-image: url(gradient%20copie%202.png);
    background-repeat: repeat;
    position:absolute;
    top:0;
    width:100%;
    padding-top:25px;
    height:25px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: space-around;  
}

li 
{
  margin-left: 10px;
  margin-right: 10px;
}


nav li 
{
font-family: 'Piazzolla', serif;
}

a
{
    color: green;
    display: flex;
    align-content: space-between;
    
}

a:hover
{
    color: lightcoral;
}


form 
{
  font-size: 1.6em;
}


label {
  display: inline-block;
  text-align: right;
}

input, textarea {
  font: 'Piazzolla', serif;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

footer
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
	background-image: url(gradient%20copie%202.png);
    background-repeat: repeat;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:25px;
    height:25px;

}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li 
{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;
}

select[multiple] {
  height: 1.5em;  
  vertical-align: top;
}
select[multiple]:focus,
select[multiple]:active {
  height: auto;
}


/*class*/
.columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

}


.paragraphe
{
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(chat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 350px;
    height: 500px;
    padding: 50px;
	border-radius: 25px;
    margin-top: 30px;
    justify-content: flex-end;     
}



.formulaire
{
    background-image: url(chatmiroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 350px;
    height: 500px;
	justify-content: center;
	padding: 50px;
	font-size: 12px;
	border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 30px;
}


.columnsI
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}


.paragrapheI
{
    color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(lamb2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
    padding: 50px;
	border-radius: 25px;
    margin-top: 30px;
    justify-content: flex-end;     
}



.formulaireI
{
    background-image: url(lamb2miroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
	justify-content: flex-end;
	padding: 50px;
	font-size: 12px;
	border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 30px;  
}


.monBouton
{
    background-color: white;
    border-radius: 10px;
}

.monBouton a:hover
{
    background-color: chartreuse;
}

/*ID*/

#listeNavTop {
  font-family: 'Piazzolla', serif;
  border-radius: 25px;
  position: fixed;
  top:0;
   
  
}