body
{
    background-image: url(unicorn-aesthetic-wallpaper.jpg);
    background-repeat: repeat;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}

main
{
    display: flex;
    align-self: center;
    font-family: 'Piazzolla', serif;
}

header 
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
	background-image: url(gradient%20copie%202.png);
    background-repeat: repeat;
    position:absolute;
    top:0;
    width:100%;
    padding-top:25px;
    height:30px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}


li 
{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

nav li 
{
font-family: 'Piazzolla', serif; 
}

a
{
    color: dodgerblue;
    display: flex;
    align-content: space-between;
    text-decoration: none; 
}

a:hover
{
    color: deeppink;
}


form 
{
  font-size: 1.6em;
}

label 
{
    display: inline;
    font: 'Piazzolla', serif;
}

input[type='submit'],
label 
{
    margin-top: 1rem;
}

input, textarea 
{
  font: 'Piazzolla', serif;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus 
{
  border-color: #000;
}

textarea 
{
  vertical-align: top;
  height: 5em;
}

footer
{
    display: flex;
    display: inline-block;
    flex-direction: column;
    border-radius: 20px;
	background-image: url(gradient%20copie%202.png);
    background-repeat: repeat;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:25px;
    height:25px;
    padding-bottom: 10px;
}


input:invalid 
{
  border: 2px solid red;
}

input:valid 
{
  border: 1px solid deeppink;
}

select[multiple] 
{
  height: 1.5em;  
  vertical-align: top;
}

select[multiple]:focus,
select[multiple]:active 
{
  height: auto;
}


/*class*/

.columns
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

}

.paragraphe
{
    color: deeppink;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(chat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    height: 500px;
    padding: 50px;
    margin-top: 30px;
	border-radius: 20px;
    justify-content: flex-end; 
    text-shadow: 2px 2px 2px black;
    justify-content: center;
}

.formulaire
{
    background-image: url(chatmiroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 400px;
    height: 500px;
	justify-content: center;
	padding: 50px;
	font-size: 12px;
	border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 30px;
    color: deeppink;
    text-shadow: 1px 1px 1px black;
}

.columnsI
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.paragrapheI
{
    color: dodgerblue;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1 0;
    font-size: 1.6em;
    background-image: url(lamb2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 480px;
    padding: 50px;
	border-radius: 25px;
    margin-top: 30px;
    justify-content: space-around;
     text-shadow: 2px 2px 2px black;
}

.formulaireI
{
    background-image: url(lamb2miroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
	border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 30px;  
    font-size: 0.6em;
    color: green;
     text-shadow: 1px 1px 1px black;
    ;
}

.columnsII
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.paragrapheII
{
    color: gold;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(chatsmusiquemiroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
    padding: 50px;
	border-radius: 25px;
    margin-top: 30px;
    justify-content: flex-start;
    text-shadow: 2px 2px 2px black;
}

.formulaireII
{
    background-image: url(chatsmusique.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
	padding: 50px;
	font-size: 12px;
	border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: 30px;  
    font-size: 1em;
    color: gold;
    text-shadow: 2px 2px 2px black;
    ;
}


/*ID*/

#listeNavTop {
  font-family: 'Piazzolla', serif;
  border-radius: 25px;
  position: fixed;
  top:0;
}