body
{
    background-image: url(images/unicorn-aesthetic-wallpaper.jpg);
    background-repeat: repeat;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin: 0px;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    justify-content: space-around;
    height: 180vh;
}

main
{
    display: flex;
    align-self: center;
    font-family: 'Piazzolla', serif;
}

header 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  background-image: url(images/gradient%20copie%202.png);
}


h1 
{
  font-size: 5em;
  line-height: 5em;
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff, 0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

h2 {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}


li 
{
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

nav li 
{
font-family: 'Piazzolla', serif; 
}

a
{
    color: dodgerblue;
    display: flex;
    align-content: space-between;
    text-decoration: none; 
}

a:hover
{
    color: deeppink;
}


form 
{
  font-size: 1.6em;
}

label 
{
    display: inline;
    font: 'Piazzolla', serif;
}


input, textarea 
{
  font: 'Piazzolla', serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid white;
}

input:focus, textarea:focus 
{
  border-color: #000;
}

input[type="submit"], button
{
    width: 70px;
    height: 40px;
    cursor:pointer;
    background-color: pink;
    color: lightskyblue;
    border-radius: 5px;
    text-shadow: 1px 1px 1px white;
    border: none;
}

textarea 
{
  vertical-align: top;
  height: 5em;
}

footer
{
    display: flex;
    display: inline-block;
    flex-direction: column;
    border-radius: 20px;
	background-image: url(images/gradient%20copie%202.png);
    background-repeat: repeat;
    position:relative;
    bottom:0;
    width:100%;
    padding-top:25px;
    height:25px;
    padding-bottom: 10px;
}


input:invalid 
{
  border: 2px solid black;
}

input:valid 
{
  border: 1px solid pink;
}

select[multiple] 
{
  height: 1.5em;  
  vertical-align: top;
}

select[multiple]:focus,
select[multiple]:active 
{
  height: auto;
}


/*class*/

.columns, .columnsI, .columnsII
{
    display: flex;
    flex-direction: row;
   
}

.paragraphe, .formulaire
{
    display: flex;
    flex-direction: column; 
    border-radius: 25px;
     width: 400px;
    height: 500px;
    padding: 50px;
    justify-content: flex-end; 
}

.paragraphe
{
    color: deeppink;
   
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(images/chat.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-shadow: 2px 2px 2px black;
}

.formulaire
{
    background-image: url(images/chatmiroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
	font-size: 12px;
    text-align: justify;
    color: deeppink;
    text-shadow: 1px 1px 1px black;
}

.paragrapheI, .formulaireI
{
    width: 540px;
    height: 580px;
    padding: 50px;  
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify; 
}

.paragrapheI
{
    background-image: url(images/lamb2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.6em;
	color: dodgerblue;
    margin: 0;
    flex: 1 1 0;
    text-shadow: 2px 2px 2px black;
}

.formulaireI
{
    background-image: url(images/lamb2miroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
	font-size: 12px;
    font-size: 0.6em;
    color: green;
    text-shadow: 1px 1px 1px black;
}

.paragrapheII, .formulaireII
{
    display: flex;
    flex-direction: column; 
    width: 450px;
    height: 450px;
	padding: 50px;
    border-radius: 25px;
    text-shadow: 2px 2px 2px black;
    color: gold;
}

.paragrapheII
{
    margin: 0;
    flex: 1 1 0;
    font-size: 2em;
    background-image: url(images/chatsmusiquemiroir.png);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-start;  
}

.formulaireII
{
    background-image: url(images/chatsmusique.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
	font-size: 12px;
    text-align: justify;  
    font-size: 1em;
}


/*ID*/

#listeNavTop {
  font-family: 'Piazzolla', serif;
  border-radius: 25px;
  position: fixed;
  top:0;
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");


@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
   color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; 
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
 color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  }
}


@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}